@use '../../sass' as vars;
.login-page
{
    width: 100%;
    height: 100vh;
    @include vars.centerStyle;
    background: vars.$grayColor;
    @include vars.loginRegister('login'){
        & .forgot-password > a, & .register-link > a
        {
            color: vars.$primaryColor;
            transition: all .3s;
            &:hover
            {
                color: vars.$textColor;
            }
        }
        & .register-link
        {
            text-align: center;
            font-weight: 400;
        }
    }
}